<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548649037260-hsllkn0lq2bh46nid55i4qi8jnv8dn1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548649037260-hsllkn0lq2bh46nid55i4qi8jnv8dn1h</string>
	<key>API_KEY</key>
	<string>AIzaSyDK_IG-n1Zry0WZTn1YRcljnUmclBE1mBY</string>
	<key>GCM_SENDER_ID</key>
	<string>548649037260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flynnculture.secretVotes</string>
	<key>PROJECT_ID</key>
	<string>secret-store-c530d</string>
	<key>STORAGE_BUCKET</key>
	<string>secret-store-c530d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548649037260:ios:df4e5c990a2558d2</string>
	<key>DATABASE_URL</key>
	<string>https://secret-store-c530d.firebaseio.com</string>
</dict>
</plist>